@import 'src/global.scss';

.project-card {
    width: 100%;
    border-radius: 5px;
    box-shadow: $shadow;
    transition: margin ease $animation-time;

    @media (min-width: $md-screen-min) {
        &:hover {
            margin-top: -10px;
            margin-bottom: 10px;
        }
    }

    @media (min-width: $lg-screen-min) {
        width: 100%;
    }

    .project-text {
        padding: 10px;
        display: grid;
        width: 100%;

        .project-title {
            text-align: left;
            font-weight: 600;
            margin-bottom: 0;
            text-transform: capitalize;
            font-size: 16px;
            white-space: nowrap;
            color: $text-dark;
        }

        .project-subtitle {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: repeat(5, min-content);
            font-size: 14px;

            .project-info {
                white-space: nowrap;
                color: $text-light;
            }

            .project-info-divider {
                color: $brand1-dark;
                font-weight: 800;
            }
        }
    }

    .project-preview-image-container {
        display: grid;
        border-bottom: 3px solid $brand1-light;

        .project-preview-image {
            object-fit: cover;
            height: 200px;

            @media (min-width: $md-screen-min) {
                height: 250px;
            }

            @media (min-width: $lg-screen-min) {
                height: 200px;
            }

            img {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }
        }
    }
}
