@import 'src/global.scss';

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($text-dark, 0.5);
    z-index: 19;
    animation: $slow-animation-time fade-in ease;
    overflow-y: scroll;
}

$menu-width: 375px;

.side-menu {
    position: fixed;
    width: $menu-width;
    left: -$menu-width;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 20;
    transition: left ease-in-out $slow-animation-time;
    padding: 0;
    box-shadow: 5px 0 5px rgba($text-dark, 0.15);

    &.show-menu {
        left: 0;
    }

    .menu-top {
        display: grid;
        left: 0;
        right: 0;
        height: 50px;
        align-items: center;
        justify-content: end;
        padding: 0 20px;

        .menu-close {
            cursor: pointer;
        }
    }

    .menu-content {
        display: grid;
        justify-content: center;
        height: 100%;
        grid-template-rows: repeat(6, min-content);
        grid-gap: 40px;
        padding: 20px;

        .menu-image-container {
            display: grid;
            background-color: $brand1-light;
            height: 175px;
            width: 175px;
            border-radius: 50%;
            box-shadow: $shadow;
            justify-self: center;
            border: 5px solid $brand-accent;

            .menu-image {
                margin-top: -10px;
            }
        }

        .menu-text {
            text-align: center;
            width: 275px;

            .menu-text-name {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            .menu-text-description {
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 0;
            }
        }

        .menu-hr {
            width: 50px;
            margin: 0;
            justify-self: center;
        }

        .menu-links {
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr;
            grid-template-rows: repeate(3, min-content);
            grid-gap: 20px;

            .menu-link-button {
                width: 100%;
                padding: 10px;
                display: grid;
                align-items: center;
                justify-content: center;
                grid-template-columns: min-content min-content;
                grid-gap: 10px;
                background-color: $text-lighter;
                border: none;
                border-radius: 40px;
                text-transform: uppercase;
                font-family: $accent-fonts;
                font-weight: 600;
                cursor: pointer;

                .link-icon {
                    stroke: $brand1-dark;
                }

                &:hover {
                    background-color: $brand1-dark;
                    font-weight: 800;
                    color: white;

                    .link-icon {
                        stroke: white;
                    }
                }
            }
        }

        .menu-external-links {
            display: grid;
            justify-content: center;
            grid-template-columns: min-content min-content;
            grid-gap: 20px;

            a {
                background-color: $brand1-dark;
                display: grid;
                padding: 5px;
                border-radius: 3px;

                .external-link-icon {
                    stroke: white;
                    height: 30px;
                    width: 30px;
                }

                &:hover {
                    background-color: $brand2-dark;
                }
            }
        }
    }
}
