@import 'src/global.scss';

.link-button {
    background-color: $brand2-dark;
    border-color: transparent;
    width: min-content;
    padding: 10px 15px;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        background-color: $brand1-dark;

        $arrow-offset: 5px;

        .arrow-icon {
            margin-top: -$arrow-offset;
            margin-bottom: $arrow-offset;
            margin-right: -$arrow-offset;
            margin-left: $arrow-offset;
        }
    }

    &.inverse {
        background-color: $brand1-dark;

        &:hover {
            background-color: $brand2-dark;
        }
    }

    .button-content {
        align-items: center;
        display: grid;
        grid-template-columns: min-content min-content;
        justify-content: center;

        .button-text {
            display: grid;
            margin-bottom: 0;
            text-align: end;
            white-space: nowrap;
            font-family: $accent-fonts;
            font-weight: 400;
            text-transform: uppercase;
            font-weight: 800;
            color: white;
            margin-right: 5px;
        }

        .arrow-icon {
            stroke: white;
            transition: margin ease $animation-time;
        }
    }
}
