@import 'src/global.scss';

.work-with-me {
    width: 100vw;
    display: grid;
    justify-content: center;
    margin-bottom: 140px;
    padding: 0 $mobile-side-padding;

    @media (min-width: $md-screen-min) {
        padding: 0 $tablet-side-padding;
    }

    @media (min-width: $lg-screen-min) {
        padding: 0 $desktop-side-padding;
    }

    .work-with-me-background {
        display: grid;
        align-items: center;
        background-color: $text-lighter;
        grid-template-columns: 1fr;
        min-width: 300px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: $shadow;

        @media (min-width: $lg-screen-min) {
            grid-template-columns: min-content min-content;
            grid-gap: 20px;
            padding: 20px 50px;
        }

        .work-with-me-text {
            display: grid;
            margin-bottom: 20px;
            text-align: center;
            white-space: nowrap;
            font-family: $accent-fonts;
            font-weight: 400;
            text-transform: uppercase;

            @media (min-width: $lg-screen-min) {
                margin-bottom: 0;
                text-align: end;
            }
        }

        .contact-button {
            width: 100%;
            justify-content: center;
            display: grid;

            @media (min-width: $lg-screen-min) {
                width: min-content;
            }
        }
    }
}
