@import 'src/global.scss';

.about {
    display: grid;
    margin-top: 120px;
    margin-bottom: 200px;
    justify-content: center;

    .about-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: $max-width;
        padding: 0 $desktop-side-padding;
        grid-gap: 60px;

        .about-header {
            text-align: center;
            font-family: $accent-fonts;
        }

        .about-left {
            justify-self: end;
        }

        .about-paragraph {
            font-size: 0.9rem;
        }

        .about-right {
            margin-top: 80px;
            .about-paragraph {
                text-align: right;
            }
        }
    }
}
