@import 'src/global.scss';

.projects-page {
    justify-content: center;
    display: grid;
    height: 100%;

    .projects-page-contents {
        .wip-text {
            text-align: center;
        }
    }
}
