@import 'src/global.scss';

@keyframes underline {
    from {
        padding: 0;
    }
    to {
        padding: 0 8px;
    }
}

.header {
    width: 100vw;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 80px;
    z-index: 999;

    .header-menu {
        justify-self: start;
        align-items: center;
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-gap: 20px;
        cursor: pointer;

        .menu-icon {
            stroke: $text-dark;
        }

        .header-brand {
            font-weight: bold;
            font-family: $accent-fonts;
            font-size: 1.25rem;
        }
    }

    .header-navigation {
        justify-self: end;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        .nav-link {
            text-decoration: none;
            font-weight: 600;
            color: $text-dark;
            text-align: center;
            font-size: 1.05rem;
            padding: 0 8px;
            transition: border-bottom 0.07s;
            width: 100px;

            &:hover {
                border-bottom: 2px solid $text-dark;
                cursor: pointer;
            }

            &.selected {
                &:hover {
                    font-weight: 600;
                    cursor: default;
                }
                border-bottom: 2px solid $text-dark;
            }
        }
    }
}
