@import 'src/global.scss';

.header {
    width: 100vw;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 30px $desktop-side-padding;
    background-color: $brand2-light;
    z-index: 10;
    transition: padding ease $animation-time;

    @media (min-width: $lg-screen-min) {
        grid-template-columns: 1fr 1fr min-content;
    }

    &.full-width {
        padding: 0 40px;
        background-color: rgba($brand2-light, 0.85);

        .header-menu {
            padding: 10px 0;
        }
    }

    .header-menu {
        justify-self: start;
        align-items: center;
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-gap: 20px;
        padding: unset;

        @media (min-width: $lg-screen-min) {
            grid-template-columns: 1fr;
        }

        .menu-icon {
            cursor: pointer;
            stroke: $text-dark;

            @media (min-width: $lg-screen-min) {
                display: none;
            }
        }

        .header-brand {
            font-weight: bold;
            font-family: $accent-fonts;
            font-size: 22px;
            color: $text-dark;
            margin: 0;
            cursor: default;
        }
    }

    .header-navigation {
        justify-self: end;
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        @media (min-width: $lg-screen-min) {
            display: grid;
        }

        .nav-link {
            font-weight: 600;
            align-items: center;
            display: grid;
            font-family: $accent-fonts;
            color: $text-dark;
            text-align: center;
            font-size: 1.05rem;
            padding: 15px 8px;
            transition: all 0.07s;
            width: 100px;

            $selected-underline: 3px solid $brand2-dark;

            &.selected {
                border-bottom: $selected-underline;
            }

            &:hover {
                border-bottom: $selected-underline;
                border-bottom-color: $brand1-dark;
                cursor: pointer;
                color: $brand1-dark;
            }
        }
    }

    .header-external-links {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-gap: 10px;
        align-items: center;
        justify-self: end;

        @media (min-width: $lg-screen-min) {
            justify-self: unset;
        }

        a {
            display: grid;
            padding: 5px;
            background-color: $brand2-dark;
            border-radius: 3px;

            &:hover {
                background-color: $brand1-dark;
            }
        }

        .external-link-icon {
            stroke: white;
        }
    }
}
