@import 'src/global.scss';

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($text-dark, 0.5);
    z-index: 19;
    animation: $slow-animation-time fade-in ease;
}

$menu-width: 375px;

.side-menu {
    position: fixed;
    width: 100vw;
    left: -100vw;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 20;
    transition: left ease-in-out $slow-animation-time;
    overflow-y: scroll;

    @media (min-width: $md-screen-min) {
        width: $menu-width;
        left: -$menu-width;
    }

    &.show-menu {
        left: 0;
        box-shadow: 5px 0 5px rgba($text-dark, 0.15);
    }

    .menu-top {
        display: grid;
        left: 0;
        right: 0;
        height: 40px;
        align-items: center;
        justify-content: end;
        padding: 0 20px;

        @media (min-width: $sm-screen-min) {
            height: 50px;
        }

        .menu-close {
            cursor: pointer;
        }
    }

    .menu-content {
        display: grid;
        justify-content: center;
        grid-template-rows: repeat(6, min-content);
        grid-gap: 20px;
        padding: 0 20px;

        @media (min-width: $md-screen-min) {
            grid-gap: 40px;
        }

        .menu-image-container {
            display: grid;
            background-color: $brand1-light;
            height: 110px;
            width: 110px;
            border-radius: 50%;
            box-shadow: $shadow;
            justify-self: center;
            border: 5px solid $brand-accent;

            @media (min-width: $sm-screen-min) {
                height: 125px;
                width: 125px;
            }

            @media (min-width: $md-screen-min) {
                height: 150px;
                width: 150px;
            }

            .menu-image {
                margin-top: -10px;
            }
        }

        .menu-text {
            text-align: center;
            width: 275px;

            .menu-text-name {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 18px;

                @media (min-width: $md-screen-min) {
                    font-size: 24px;
                    margin-bottom: 20px;
                }
            }

            .menu-text-description {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 0;

                @media (min-width: $md-screen-min) {
                    font-size: 20px;
                }
            }
        }

        .menu-hr {
            width: 50px;
            margin: 5px 0;
            justify-self: center;

            @media (min-width: $md-screen-min) {
                margin: 0;
            }
        }

        .menu-links {
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, min-content);
            grid-gap: 15px;

            @media (min-width: $md-screen-min) {
                grid-gap: 20px;
            }

            .menu-link-button {
                width: 100%;
                padding: 5px;
                background-color: $text-lighter;
                border: none;
                border-radius: 40px;
                text-transform: uppercase;
                font-family: $accent-fonts;
                font-weight: 600;
                cursor: pointer;

                @media (min-width: $md-screen-min) {
                    padding: 10px;
                }

                &:hover {
                    background-color: $brand1-dark;
                    font-weight: 800;
                    color: white;

                    .link-icon {
                        stroke: white;
                    }
                }
                .button-content {
                    align-items: center;
                    justify-content: center;
                    display: grid;
                    grid-template-columns: min-content min-content;

                    .link-icon {
                        stroke: $brand1-dark;
                        margin-right: 10px;
                    }

                    .link-icon {
                        stroke: $brand1-dark;
                    }
                }
            }
        }

        .menu-external-links {
            display: grid;
            justify-content: center;
            grid-template-columns: min-content min-content;
            grid-gap: 20px;

            a {
                background-color: $brand1-dark;
                display: grid;
                padding: 5px;
                border-radius: 3px;

                .external-link-icon {
                    stroke: white;
                    height: 30px;
                    width: 30px;
                }

                &:hover {
                    background-color: $brand2-dark;
                }
            }
        }
    }
}
