@import 'src/global.scss';

.footer-container {
    height: 100%;
    position: relative;

    .footer {
        font-size: 12px;
        font-family: $body-fonts;
        background-color: $text-lighter;
        color: $text-dark;
        position: absolute;
        height: $footer-height;
        display: grid;
        white-space: nowrap;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 $mobile-side-padding;

        @media (min-width: $md-screen-min) {
            padding: 0 40px;
        }

        .left-footer {
            justify-content: start;
        }

        .right-footer {
            justify-content: end;
            text-align: end;
        }

        .footer-link {
            color: #2ea9f5;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
