@import 'src/global.scss';

.footer {
    margin-top: $section-margin-bottom;
    font-size: 12px;
    text-align: center;
    padding: 20px;
    background-color: $text-lighter;

    a {
        color: #2ea9f5;
    }
}
