@import 'src/global.scss';

.contact-success-page {
    justify-content: center;
    display: grid;
    margin-top: $header-height;
    height: 100%;

    .contact-success-page-contents {
        width: 100vw;
        height: 100%;
        display: grid;
        align-content: center;
        justify-content: center;
        padding: 0 $mobile-side-padding;

        @media (min-width: $md-screen-min) {
            padding: 0;
        }

        .success-icon-title {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: min-content min-content;
            grid-gap: 20px;
            margin-bottom: 30px;

            .checkmark-bubble {
                padding: 15px;
                background-color: $brand-success;
                border-radius: 50%;
                width: min-content;
                height: min-content;
                display: grid;
                align-content: center;
                justify-self: center;

                .checkmark {
                    stroke: $brand-success-dark;
                    stroke-width: 4px;
                }
            }

            .success-title {
                white-space: nowrap;
                margin: 0;
            }
        }

        .success-text {
            max-width: 100%;
            text-align: justify;
            margin-bottom: 60px;

            @media (min-width: $md-screen-min) {
                max-width: 500px;
            }
        }

        .back-home-button {
            justify-self: center;
        }
    }
}
