@import 'src/global.scss';

.contact-success-page {
    justify-content: center;
    display: grid;
    margin-top: $header-height;
    height: 100%;

    .contact-success-page-contents {
        width: 100vw;
        height: 100%;
        display: grid;
        align-content: center;

        .wip-text {
            text-align: center;
        }
    }
}
