@import 'src/global.scss';

.hero {
    width: 100vw;
    padding: 80px $mobile-side-padding 0;
    background-color: $brand2-light;
    margin-bottom: $section-margin-bottom;
    display: grid;
    position: relative;

    @media (min-width: $md-screen-min) {
        padding: 100px $tablet-side-padding 0;
    }

    @media (min-width: $lg-screen-min) {
        padding: 150px $desktop-side-padding 0;
    }

    .hero-container {
        display: grid;
        grid-template-columns: 1fr;
        max-width: $max-width;
        justify-self: center;
        grid-gap: 40px;

        @media (min-width: $md-screen-min) {
            grid-template-columns: unset;
        }

        @media (min-width: $lg-screen-min) {
            grid-template-columns: 2fr 1fr;
        }

        .hero-text {
            z-index: 1;
            justify-self: start;
            background-color: white;
            max-width: 600px;
            padding: 50px 60px;
            border-radius: 8px;
            box-shadow: $shadow;
            height: min-content;

            @media (min-width: $md-screen-min) {
                max-width: 75%;
            }

            @media (min-width: $lg-screen-min) {
                margin-bottom: 100px;
                max-width: 600px;
            }
        }

        .hero-quote {
            color: black;
            font-family: $accent-fonts;
            font-size: 24px;
            margin-bottom: 18px;

            @media (min-width: $md-screen-min) {
                font-size: 34px;
            }
        }

        .hero-description {
            margin-top: 20px;
            padding: 0 30px;
            font-family: $accent-fonts;
            display: grid;

            @media (min-width: $md-screen-min) {
                margin-top: 40px;
            }

            .hero-description-text {
                text-align: center;
                margin: 0;
                font-weight: 400;
                font-size: 18px;

                @media (min-width: $md-screen-min) {
                    font-size: 22px;
                }
            }

            .hero-hr {
                width: 30px;
                justify-self: center;
                margin: 6px;

                @media (min-width: $md-screen-min) {
                    margin: 8px;
                }
            }

            .subtitle {
                font-size: 12px;

                @media (min-width: $md-screen-min) {
                    font-size: 18px;
                }
            }
        }

        .hero-image-container {
            background-color: $brand1-light;
            z-index: 1;
            padding: 20px;
            align-self: end;
            justify-self: center;
            border-radius: 8px;
            margin-bottom: -80px;
            box-shadow: $shadow;

            @media (min-width: $md-screen-min) {
                justify-self: end;
                padding: 40px;
            }

            @media (min-width: $lg-screen-min) {
                margin-top: 100px;
            }

            .hero-image {
                max-width: 200px;

                @media (min-width: $md-screen-min) {
                    max-width: 250px;
                }
            }
        }
    }
}
