@import 'src/global.scss';

.hero {
    width: 100vw;
    padding: 150px 80px 0;
    background-color: $brand2-light;
    margin-bottom: 100px;
    display: grid;
    justify-content: center;

    .hero-container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 40px;

        .hero-text {
            justify-self: start;
            background-color: white;
            max-width: 750px;
            padding: 50px 75px;
            border-radius: 8px;
            box-shadow: 0px 8px 8px rgba($text-dark, 0.15);
            margin: 0 0 80px;
            height: min-content;
        }

        .hero-quote {
            color: black;
            text-align: center;
            font-size: 3rem;
            font-family: $accent-fonts;
        }

        .hero-description {
            margin-top: 40px;
            padding: 0 30px;

            .hero-description-text {
                text-align: center;
                margin: 0;
                font-size: 1.5rem;
                font-weight: 400;
            }

            .subtitle {
                font-size: 1.25rem;
            }
        }

        .hero-image-container {
            background-color: $brand1-light;
            padding: 40px;
            margin-top: 100px;
            align-self: end;
            justify-self: end;
            border-radius: 8px;
            margin-bottom: -100px;
            box-shadow: 0px 8px 8px rgba($text-dark, 0.15);

            .hero-image {
                max-width: 350px;
            }
        }
    }
}
