$brand1-dark: #ffa5a5;
$brand1-light: #ffd9d9;
$brand2-dark: #a5dafb;
$brand2-light: #dcf3ff;
$brand-accent: #ffeebc;
$text-dark: #434343;
$text-light: #a7a7a9;

$shadow: 0px 8px 8px rgba($text-dark, 0.1);

$desktop-side-padding: 80px;
$max-width: 1400px;

$body-fonts: 'Open Sans', 'Segoe UI', sans-serif;
$accent-fonts: 'Montserrat', 'Segoe UI', sans-serif;

$header-height: 75px;

$lg-screen-min: 1020px;
$md-screen-min: 700px;
$sm-screen-min: 350px;
$xs-screen-min: 0px;

body {
    font-family: $body-fonts;
    color: $text-dark;
    font-weight: 400;
    p {
        color: $text-light;
        font-size: 0.9rem;
    }
}

.emphasis {
    color: $brand1-dark;
}

.text-center {
    text-align: center;
}

hr {
    border-top: 1px solid $brand1-dark;
    background: $brand1-dark;
}
