@use 'sass:math';

$brand1-dark: #ffa5a5;
$brand1-light: #ffd9d9;
$brand2-dark: #a5dafb;
$brand2-light: #dcf3ff;
$brand-accent: #ffeebc;
$brand-accent-dark: #d69d00;
$text-dark: #434343;
$text-light: #8e8e8e;
$text-lighter: #f2f2f2;
$brand-success: #caefc8;
$brand-success-dark: #67a267;

$shadow: 0 8px 8px rgba($text-dark, 0.1);

$desktop-side-padding: 80px;
$tablet-side-padding: 60px;
$mobile-side-padding: 30px;

$max-width: 1400px;
$section-margin-bottom: 140px;

$body-fonts: 'Open Sans', 'Segoe UI', sans-serif;
$accent-fonts: 'Montserrat', 'Segoe UI', sans-serif;

$header-height: 64px;
$footer-height: 60px;

$lg-screen-min: 1020px;
$md-screen-min: 700px;
$sm-screen-min: 350px;
$xs-screen-min: 0px;

$animation-time: 0.1s;
$slow-animation-time: 0.3s;

body {
    font-family: $body-fonts;
    color: $text-dark;
    font-weight: 400;
    p {
        color: $text-light;
        font-size: 16px;
        line-height: 25px;

        .emphasis {
            font-weight: 600;
        }
    }

    a {
        text-decoration: none;
    }
}

.emphasis {
    color: $brand1-dark;
}

.text-center {
    text-align: center;
}

hr {
    border: 1px solid $brand1-dark;
    background-color: $brand1-dark;
    border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $accent-fonts;
}

.not-found-page {
    width: 100vw;

    .not-found-page-content {
        display: grid;
        justify-content: center;
        background-color: $brand2-light;
        margin-top: 50px + $header-height;
        padding: 60px 20px;
        position: relative;

        @media (min-width: $sm-screen-min) {
            margin-top: 80px + $header-height;
        }

        @media (min-width: $md-screen-min) {
            margin-top: 100px + $header-height;
            padding: 80px 20px;
        }

        .not-found-title {
            margin-bottom: 10px;
            font-size: 28px;
            text-align: center;
            z-index: 1;

            @media (min-width: $md-screen-min) {
                font-size: 38px;
            }
        }

        .not-found-subtitle {
            font-weight: 600;
            text-align: center;
            margin-bottom: 0;
            font-size: 22px;
            z-index: 1;

            @media (min-width: $md-screen-min) {
                font-size: 26px;
            }
        }

        .not-found-hr {
            justify-self: center;
            width: 50px;
            margin: 30px 0;
            z-index: 1;

            @media (min-width: $md-screen-min) {
                margin: 40px 0;
            }
        }

        .not-found-text {
            margin-bottom: 40px;
            z-index: 1;
            text-align: center;

            @media (min-width: $md-screen-min) {
                margin-bottom: 60px;
            }
        }

        .back-home-button {
            justify-self: center;
            z-index: 1;
        }
    }

    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
